
        .uber {
            background-color: black;
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer
        }

        .amazon {
            background-color: rgb(255, 216, 20);
            color: black;
            padding: 8px 40px;
            border: none;
            cursor: pointer;
            border-radius: 20px;
            font-weight: bold;
        }

        .github {
             background-color: rgb(46, 164, 79);
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            font-weight: bold;
        }

        .bootstrap {
             background-color: rgb(121, 82, 179);
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            border-radius: 2px;
            font-weight: bold;
        } 

        .bootstrap2 {
              background-color: white;
            color: rgb(108, 117, 125);
            padding: 10px 20px;
            border: 1px solid rgb(108, 117, 125);
            cursor: pointer;
            border-radius: 2px;
            font-weight: bold;
        }

        .horizontal {
            display: flex;
            gap: 10px;
        }

        .linkedin {
            background-color: rgb(10, 102, 194);
            color: white;
            padding: 4px 20px;
            border: none;
            cursor: pointer;
            border-radius: 20px;
            font-weight: bold;
        }

        .linkedin2 {
            background-color: white;
            color: rgb(10, 102, 194);
            padding: 8px 20px;
            border: 1px solid rgb(10, 102, 194);
            cursor: pointer;
            border-radius: 20px;
            font-weight: bold;
        }

        .challenge {
             background-color: rgb(255, 216, 20);
            color: black;
            padding: 8px 40px;
            border: none;
            cursor: pointer;
            border-radius: 20px;
            font-weight: bold;
        }

        .challenge2 {
             background-color: rgb(255, 164, 28);
            color: black;
            padding: 8px 40px;
            border: none;
            cursor: pointer;
            border-radius: 20px;
            font-weight: bold;
        }
